@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background: #1a1a1a;
	box-sizing: border-box;
}

/* * { outline: 1px red solid !important; visibility: visible !important } */

html,body{
	overflow-x: clip;
}

textarea:focus, input:focus{
	outline: none;
}

html{scroll-behavior:smooth}

#skill > img {
	width: auto
}

#github_logo {
	width: auto
}